/venv/
\venv\
*.h5
**/*_BurstDebugInformation_DoNotShip/*
**/*_Data/*
**/MonoBleedingEdge/*


CasaEntreno/coche_unity_neat.py
CasaEntreno/Entrenar_neat.py
CasaEntreno/CasaEntreno.x86_64
CasaEntreno/UnityPlayer.so
CasaEntreno/__pycache__/*
CasaEntreno/CasaEntreno_BurstDebugInformation_DoNotShip/*
CasaEntreno/CasaEntreno_Data/*
Proyecto Unity/.vscode/settings.json
Proyecto Unity/ProjectSettings/BurstAotSettings_StandaloneLinux64.json
Proyecto Unity/ProjectSettings/ProjectSettings.asset
Proyecto Unity/ProjectSettings/EditorBuildSettings.asset
Proyecto Unity/Assets/Scenes/Casa Entreno.unity
CasaEntreno/Elite/Experimento1/Datos.txt
**/Data.txt
**/stats.txt
**/Dat.txt